
extends base-layout
    
block content 
      
  .container.about
    h1.display-4 A little bit About Us
    p.about
      | Color-Me is a proudly owned Tattoo and piercing shop. We are committed to providing our customers with excellent customer service. We are a small scale business, you can find us at
      hr
      span
      | 4222, Portland St, 
      br
      | Burnaby, V5J 2N2



 
